<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Task Completion</h1>
    <div class="buttons">
     <!--  <button class="button button-clear" ng-click="closeTaskCompletion()">Close</button> -->
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="myForm" ng-submit="doTaskCompletion()">
      <div class="list" ng-controller="TaskCompletionCtrl">

       
        <label class="item item-input">
        
          <input ng-pattern="onlyNumbers" name="number" type="tel" ng-model="completion">
          <span class="input-label"> / {{totalOfTask()}} minutes </span>
        </label>
       
        <label class="item">
          <button ng-disabled="!myForm.number.$valid" class="button button-block button-royal"  type="submit" ng-click="modifyCompletion(completion)">Ok</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
