
    <ion-view title="LvlUp" hide-back-button="true">
      <ion-nav-buttons side="secondary">
           <button class="button button-icon ion-ios-star-half" ng-click="OpenAchievements()">
      </button>
      <button class="button button-icon ion-ios-list-outline" ng-click="OpenHistory()">
      </button>
      

    </ion-nav-buttons>
  <ion-content class="has-header dashboard">

    <div class="list">
      <div class="card">

          <div  class='item item-task'>
            
            <h2>{{getCurrentUser()}}</h2>
            <p>Level: {{calculateLevel()}}</p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left" ng-controller="HistoryCtrl" >
            <div class="tab-item tab-main-left">
              <span class="title-red"> {{ calculateProductivity() }} </span><span class="medium-text">Productivity Ratio</span>
            </div>

          </div>

          <div class="item row" ng-controller="tasksCtrl">
            <div class="col">
              <p>
                XP
                <span class="pull-right medium-text">{{calculateCurrentXP() * 100}} / {{calculateMaxProgress()*100 + progressCheckpoint*100}}</span>
                  <progress class="progress-bar" ng-bind="xp" max="{{calculateMaxProgress()}}" value="{{calculateExp()}}"></progress>
              </p>
            </div>
          </div>

         <!--  <div class="item row">
            <div class="col">
              <p>
                HP
                <span class="pull-right medium-text">20 / 40</span>
              </p>
              <progressbar max="100" value="(user.attributes.HP*100)/calculatedData.maxHp"></progressbar>
            </div>
          </div> -->

        </div>
      </div>
        <div class="list">
          <div class="card"> 
            <div class='item item-task' >
              <h2 ng-click="navTo('addtask')" >Tasks to do next </h> 
              <span class="item-icon-right" >
              <i class="icon ion-plus "></i>
              </span>
            </div>



            <div class="item tabs tabs-secondary tabs-icon-left">
              <div class="tab-item tab-main-left" ng-controller = "HistoryCtrl">
                <span class="title-red">{{getTasksToday()}} </span><span class="medium-text">Completed today</span>
              </div>
              <div class="tab-item tab-main-right" ng-controller="HistoryCtrl">
              <span class="title-red"> {{dailyProductivity()}} </span><span class="medium-text">Productivity today</span>
              </div>
            </div>


               <div class="item item-button-right" ng-repeat="task in tasksCollection" ng-controller="HistoryCtrl" on-swipe-left="deleteTask($index, task.id)">
        {{task.info}}
          <button class="button button-icon button-light"  ng-click="addToHistory($index, task.info, task.measured, task.total, task.done, task.id)">
            <i class="icon ion-ios-circle-outline"></i>
          </button>
      </div>
        </div>
      </div>


      </div>

      </div>

    </div>
  </ion-content>
</ion-view>
