
   <ion-view hide-back-button="true">
  <ion-content>
     <div class="list">
       <label class="item ">
    <span class="input-label">Welcome!</span>
   
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input ng-model="username" type="text" placeholder="username" >
  </label>

</div>

 <label >
    <button class="button button-block button-royal" type="submit" ng-click="saveUsername(username)">Start!</button>
  </label>
      
  </ion-content>
</ion-view>
